<div class="container-fluid">

	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			
				<% if flash[:error].eql?('user-exists') %>
					<div class="center">
						<div class="alert alert-danger" role="alert">The email address you tried to sign up with already has an account with SOwn.  Please try <a href="/login">logging in</a> instead.</div>
					</div>			

				<% elsif flash[:error].eql?('unexpected') %>
						<div class="alert alert-danger" role="alert">Unexpected error occured when signing up.  Please try <a href="/">signing up</a> again.</div>

				<% elsif flash[:error].eql?('unknown-oauth-signup-error') %>
						<div class="alert alert-danger" role="alert">Unexpected error occured when signing up with Google.  Please try <a href="/">signing up</a> again.</div>
								
				<% end %>


		  

		</div>



	</div>

  

</div>