  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Assign Activities</h4>
    </div>
    <div class="modal-body">
      <form class="form form-horizontal" ui-assignment-form>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Activity Name</th>
              <th class="center">Assign<br/><i class="ion-help-circled" data-toggle="tooltip" data-placement="bottom" data-original-title="You and students will see the activity in your respective dashboards"></i></th>
              <th class="center">Hide<br/><i class="ion-help-circled" data-toggle="tooltip" data-placement="bottom" data-original-title="You will see the activity in your dashboard, but students won't"></i></th>
              <th class="center">Archive<br/><i class="ion-help-circled" data-toggle="tooltip" data-placement="bottom" data-original-title="Neither you nor students will see the activity in your respective dashboards, but performance data will persist (as opposed to unassigning the activity)"></i></th>
              <th>Due Date</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      <button type="button" class="btn btn-primary" data-dismiss="modal" ui-save-button>Save</button>
    </div>
  </div><!-- /.modal-content -->
