<div class="classroom-tab-content ">
  <table class="table table-condensed table-hover table-bordered small tablesorter tablesorter-default" id="activities_table" role="grid">
    <thead>
      <tr role="row" class="">
        <th ui-header-activity class="col-md-2">Activity</th>
        <th ui-header-description class="col-md-4">Description</th>
        <th ui-header-mastery-goal class="col-md-2">Mastery Goal</th>
        <th ui-header-activity-type class="col-md-1">Activity Type</th>
        <th class="col-md-1">Tags</th>
        <th colspan="3" class="center" class="">Actions</th>
      </tr>
    </thead>
    <tbody>
        
    </tbody>
  </table>

  <% console.log(this) %>
  <% if(collectionSize == 0){ %>
    <div class="alert alert-warning">
      You don't have any activities.  Get started by clicking the blue button above and create one!
    </div>
  <% } %>
</div>