<div class="row">
  <div class="col-sm-12">
    <!-- <form ui-level-table-form> -->
      <input type="hidden" name="activity_id", value="<%= activity_id %>">
    	<table class="table">
    		<thead>
          <tr>
      			<th style="width:80%">Level</th>
      			<th style="width:20%">
              <a href="#" ui-edit-button>Edit</a>
              <a href="#" ui-levels-save-button>Save</a>

            </th>
          </tr>
    		</thead>
    		<tbody ui-level-table-tbody>

    		</tbody>
    	</table>

      <table ui-hidden-table style="display:none">
        <tr ui-new-level-row> 
          <td> 
            <input type="text" name="activity_level_name" class="form-control" id="newlevel" ui-level-input>
          </td>
          <td><a href="#" class="btn btn-primary" ui-add-level-button>+</a></td>
        </tr>
        
      </table>

    <!-- </form> -->
  </div>
</div>