<div class="form-group">
  <label for="inputLevels" class="col-sm-2 control-label">Level:</label>
  <div class="col-sm-6" ui-level-input-div><input type="text" name="newlevel" class="form-control" id="newlevel" ui-level-input></div>
  <div class="col-sm-2">
    <input type="submit" class="btn btn-sm btn-primary" value="Add" ui-add-level-button>      
  </div>          
</div>
<div class="row">
  <div class="col-sm-12">
  	<table class="table">
  		<thead ui-table-head style="display:none">
        <tr>
    			<th style="width:80%">Level</th>
    			<th style="width:20%"></th>
        </tr>
  		</thead>
  		<tbody>

  		</tbody>
  	</table>
  </div>
</div>