<div id="header_region" class="row"></div>
<div id="main_region" class="row"></div>

<div class="modal fade" id="activities_modal_region" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"></div>