<div class="form-group">
  <label for="inputTags" class="col-sm-2 control-label">Tag:</label>
  <div class="col-sm-6" ui-tag-input-div><input type="text" name="newtag" class="form-control typeahead" id="newTag" ui-tag-input></div>
  <div class="col-sm-2">
    <input type="submit" class="btn btn-sm btn-primary" value="Add" ui-add-tags-button>      
  </div>          
</div>
<div class="row">
  <ul id="tagDisplayList" class="list-inline col-sm-10 col-sm-offset-2"></ul>
</div>