<span class="header">My Activities</span>
<div class="row">
  <div class="col-sm-5">
    <form action="/activities" method="get" ui-search-form>
      <div class="input-group">            
          <input type="text" class="form-control input-sm" placeholder="" name="searchTerm" ui-search-input>
          <span class="input-group-btn">
            <input type="submit" class="btn btn-default btn-sm" value="Search" ui-search-button>
          </span>            
      </div>
    </form>
  </div>
  <div class="col-sm-2 col-sm-offset-5" style="text-align:right"><a href="#activities/new" class="btn btn-primary btn-sm" style="" ui-create-activity-button>Create Activity</a></div>
</div>