<table class="table table-condensed table-hover table-bordered small tablesorter tablesorter-default" id="activities_table" role="grid">
  <thead>
    <tr role="row" class="">
      <th ui-header-activity>Activity</th>
      <th ui-header-description>Description</th>
      <th ui-header-mastery-goal>Mastery Goal</th>
      <th ui-header-activity-type>Activity Type</th>
      <th>Tags</th>
      <th colspan="2" class="center">Actions</th>
    </tr>
  </thead>
  <tbody>
      
  </tbody>
</table>

<% console.log(this) %>
<% if(collectionSize == 0){ %>
  <div class="alert alert-warning">
    You don't have any activities.  Get started by clicking the blue button above and create one!
  </div>
<% } %>
