  <ul class="nav nav-sidebar">
    <li id="home" class="active" ui-nav-classroom><a href="#classrooms">Classrooms</a></li>        
    <li id="activities" ui-nav-activities><a href="#activities">Activities</a></li>
    <li id="students" ui-nav-students><a href="#" data-toggle="modal" data-target="#comingSoonModal">Students</a></li>
    
  </ul>      
