<% if(classrooms.length == 0){ %> 
    <div class="jumbotron">
        <h1>Welcome to Sown To Grow!</h1>
        <p>
            Let's get started growing mastery and mindset with your students.
        </p> 

        <p>
            Your first step should be to create a classroom.  Click on the "Add Class" button below to create your first class!
        </p>
    </div>
<% } else if(activities.length == 0){ %>
    <div class="jumbotron">
        <h2>Great job creating your classroom!</h2>
        <p>
            Your next step is to create your first activity.  Let's start by clicking on your new classroom below!
        </p> 
    </div>
<% } %>

<div class="row">
	<div class="col-sm-5" style="text-align:left">
		<span class="header">My Classrooms</span>
	</div>
	
</div>
<div class="row" id="widget-container-div">

</div>

<div class="col-xs-6 col-sm-4 col-md-4 col-lg-3" ui-add-class-div>  
	<div class="placeholder thumbnail">
    <a href="#classrooms/new">
        <i class="ion-ios-plus-outline icon_theme" style="font-size:105px;"></i>
    	<h4>Add Class</h4>
    	<span class="text-muted">&nbsp;</span>
    </a>      	    
  </div>        
</div> 
