<div class="row">
	<div class="col-md-12">
		<h3>Students</h3>
	</div>
</div>

<div class="row">
  <div class="col-sm-5">
    <form action="/activities" method="get" ui-search-form="" class="students_search_form">
      <div class="input-group">            
          <input type="text" class="form-control input-sm" placeholder="" name="searchTerm" ui-search-input="" value="<%= searchTerm ? searchTerm : '' %>">
          <span class="input-group-btn">
            <input type="submit" class="btn btn-default btn-sm" value="Search" ui-search-button="">
          </span>            
      </div>
    </form>
  </div>  
</div>

<div class="row">
	<div class="col-md-6">
		<div class="table_div">
			<table class="table table-condensed table-hover table-bordered small tablesorter tablesorter-default" id="" role="grid">
			  <thead>
			    <tr role="row" class="">
			      <th ui-header-activity="">Student</th>
			      <th ui-header-description="">Classroom(s)</th>
			    </tr>
			  </thead>
			  <tbody></tbody>
			</table>
		</div>
	</div>
</div>