<table class="table table-condensed table-hover table-bordered small tablesorter tablesorter-default" id="activities_table" role="grid">
  <thead>
    <tr role="row" class="">
      <th>Activity</th>
      <th>Description</th>
      <th>Mastery Goal</th>
      <th>Activity Type</th>
      <th>Tags</th>
      <th colspan="2" class="center">Actions</th>
    </tr>
  </thead>
  <tbody>
      
  </tbody>
</table>