
<div>
		<div class="classroom-tab-content col-sm-9">
      <div id="alert_region" style="margin-top:10px"></div>
	    <div id="activity_assignment_region"></div>
	    <div id="tags_region"></div>
	    <div id="save_button_region">
	    	<form class="form-horizontal">
	    	<div class="form-group">
          <div class="col-sm-offset-3 col-sm-4">
            <button class="btn btn-primary center" ui-save-button>Save</button>
          </div>
        </div>	    
	    </form>
    </div>
</div>
