<div id="header_region"></div>
<div class="container-fluid">
	<div class="row row_main">
		<div class="col-sm-12 col-md-12 main">
			<div id="alert_region" class="row"></div>
			<div id="main_region" class="row"></div>
		</div>
	</div>
</div>



<div class="modal fade" id="modal_region" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	
</div>