  <ul class="nav nav-sidebar">
    <li id="home" ui-nav-classroom class="<%= subapp == "classroom" ? "nav_active" : "" %>"><a href="#classrooms">Classrooms</a></li>        
    <li id="activities" ui-nav-activities  class="<%= subapp == "activities" ? "nav_active" : "" %>"><a href="#activities">Activities</a></li>
    <li id="students" ui-nav-students  class="<%= subapp == "students" ? "nav_active" : "" %>"><a href="#" data-toggle="modal">Students</a></li>
    
  </ul>      
