<td><%= display_name %></td>
<td class="center">	
		<input <% if (verifications_id != null){ %>checked="checked" <%}%> class="" id="student_performance_verification_<%= student_user_id %>" name="student_performance_verification[<%= student_user_id %>]" type="checkbox" value="true" ui-checkbox>
</td>