
<div class="placeholder thumbnail">
	<a href="#classroom/<%= id%>" style="display:block">
	  <div id="div<%= id%>" ui-dthree-div ></div>
	  <div>
	    <h4><%= name %></h4>
	    <span class="text-muted"><%= student_count%> Students</span>
	  </div>
	</a>
</div>
