<h3><%= name %></h3>
<ul class="nav nav-pills">
  <li role="presentation" class="active"><a href="#classroom/<%= id%>">Scores</a></li>
  <li role="presentation" class=""><a href="/classroom/edit_activities?classroom_id=<%= id%>">Edit Activities</a></li>
  <li role="presentation" class=""><a href="#" data-toggle="modal" data-target="#comingSoonModal">Add Students</a></li>
  <li role="presentation" class=""><a href="#" data-toggle="modal" data-target="#comingSoonModal">Edit Data</a></li>
  <li role="presentation" class=""><a href="#" data-toggle="modal" data-target="#comingSoonModal">Export Data</a></li>
  <li role="presentation" class=""><a href="#classroom/<%= id%>/edit">Edit Classroom Details</a></li>
  <li role="presentation" class=""><a href="#" data-toggle="modal" data-target="#comingSoonModal">Show Classroom Code</a></li>
</ul>

