<h2 class="sub-header">Classrooms</h2>
<div class="row" ui-classroom-widget-row-container></div>
<div class="row placeholders" style="display:none" ui-add-class-div>
  <div class="col-xs-6 col-sm-3 placeholder">          
  	<div class="placeholder thumbnail">
	    <a class="thumbnail" href="#classrooms/new"><img src="assets/icon_add_new_plus.png" style="height:180px;"/></a>      
	    
	    <h4>Add Class</h4>
	    <span class="text-muted"></span>
    </div>
  </div>            
</div>
