<td><%= display_name %></td>
<td>
	<% for(var i = 0; i < classrooms.length; i++){ %>
		<div><a href="#" id="<%= classrooms[i].id %>" class="ui-classroom-link"><%= classrooms[i].name %></a></div>		
	<% } %>
</td>