<% if(classrooms.length == 0){ %> 
    <div class="jumbotron" style="background-color:white">
        <h1>Welcome to Sown To Grow!</h1>
        <p>
            We can get you started in just a few minutes.  
        </p>
        <p>
            Your first step is to create a classroom.  Click on the “Add Class” button below to create your first class.
        </p> 
    </div>
<% } else if(activities.length == 0){ %>
    <div class="jumbotron">
        <h2>Great job creating your classroom!</h2>
        <p>
            You can add additional classes in the same way.  Your next step is to create your first learning activity for students to track.  Start by clicking on your new classroom below.
        </p> 
        <p>
            Wondering what type of learning activities make sense?  Click <a href="https://docs.google.com/presentation/d/1poywZv72jYOBBkDRXUolJOkEPspFsLPYQ4OY6J5THa0/pub?start=false&amp;loop=false&amp;delayms=3000" target="_blank">here</a> to learn more.
        </p>
    </div>
<% } else if(activities.length > 0 && classrooms.length > 0 && student_count == 0){%>
    <div class="jumbotron" style="background-color:white">
    <h2>Last step: Get your students signed up!</h2>
    <p>
      You’re almost done!  You can create more activities at any time, and reorder them later as needed.
    </p>
    <p>
      When you’re ready, have your students go to <a href="http://www.sowntogrow.com">www.sowntogrow.com</a> and click “I’m a new student”.  Once they have signed up, they can join your classroom using one of the classroom codes you created.
    </p>
    <p>
      <a href="https://docs.google.com/presentation/d/14L-EV-LmSlZkZGneBOrULBCmBq-Pf-m2ZWj_Ch-7lgY/edit#slide=id.gd517b2663_0_169" target="_blank">Click here</a> for a presentation that you can use with your students.  It will orient them to the tool and show them how to get started.
    </p>
    <p>If you're curious about what your students will see you can always create a student account for yourself (even with the same email address), and join your own classroom!</p>
  </div>
<% } %>

<div class="row">
	<div class="col-sm-5" style="text-align:left">
		<span class="header">My Classrooms</span>
	</div>
	
</div>
<div class="row" id="widget-container-div">

</div>

<div class="col-xs-6 col-sm-4 col-md-4 col-lg-3" ui-add-class-div>  
	<div class="placeholder thumbnail">
    <a href="#classrooms/new">
        <i class="ion-ios-plus-outline icon_theme" style="font-size:105px;"></i>
    	<h4>Add Class</h4>
    	<span class="text-muted">&nbsp;</span>
    </a>      	    
  </div>        
</div> 
