<div id="view_as_region" class="row"></div>
<div id="student_view_region" class="row"></div>
<div id="student_layout_modal_region" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"></div>
