<div id="header_region"></div>
<div class="container-fluid">
	<div class="row">
		<div id="left_nav_region" class="col-sm-2 sidebar"></div>
		<div class="col-sm-10 col-sm-offset-2 inline-block main">
			<div id="alert_region"></div>
			<div id="main_region"></div>
		</div>
	</div>
	
</div>

<div class="modal fade" id="comingSoonModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
	  <div class="modal-content">
	    <div class="modal-header">
	      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	      <h4 class="modal-title" id="myModalLabel">We're not quite ready yet...</h4>
	    </div>
	    <div class="modal-body">
	      Sorry!  We're still working on building out this functionality!  Come back and check it out again soon.
	    </div>
	    <div class="modal-footer">
	      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>	        
	    </div>
	  </div>
	</div>
</div>