<% if(data != null){ %>
	<h4>My Scores</h4>
<% } %>
<div ui-bar-graph-div>
	<div style="display:flex; align-items:center">
		<div ui-range-graph-div></div>
		<% if(data == null || data.length == 0){ %>
			<div class="well" style="width:100%">You don't have any scores yet...</div>
		<% } %>
		<div ui-performance-graph-div></div>
	</div>
</div>