<div id="classroom_alert_region" class="row"></div>
<div id="classroom_header_region" class="row"></div>
<div id="classroom_main_region" class="row">
	<div class="col-md-12">
		<div class="row" id="classroom_search_region"></div>
		<div class="row tag-list-container" id="classroom_tags_region"></div>
		<div class="row" id="classroom_scores_region"></div>
	</div>
</div>
<div class="modal fade" id="classroom_modal_region" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"></div>
