<div class="classroom-tab-content">
	<table class="table table-condensed table-bordered small student-scores-table">
		<thead>
			<tr>
				<th class="col-sm-3">Activity</th>
				<th class="col-sm-1">Mastery Goal</th>
				<th class="col-sm-1 center">My Goal</th>
				<th class="col-sm-1 center">Most Recent Score</th>
				<th colspan="1" class="col-sm-1 student-scores-table__actions-header">Actions</th>
			</tr>
		</thead>
		<tbody>

		</tbody>
	</table>
</div>