<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h5 class="modal-title" id="myModalLabel" ui-title>Enter performance for: <b><%= activity.name %></b></h5>
  </div>
  <div class="modal-body" ui-body-div>
    
    <div ui-bar-graph-region></div>
    <div ui-data-table-region></div>
    <div ui-scores-region></div>
    
  </div>
  <div class="modal-footer" ui-footer-div>
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>	        
  </div>
</div>
