<% if(data != null){ %>
	<h4>My Scores</h4>
<% } %>
<div ui-bar-graph-div>
	<div style="display:flex; align-items:center">
		<div ui-range-graph-div></div>
		<div ui-performance-graph-div></div>
	</div>
</div>