<div class="row">
	<div class="col-sm-3" style="text-align:left">
		<h3 style="padding:15px">My Classrooms</h3>
	</div>
	
</div>
<div class="row">
	<div class="col-sm-12">
		<div style="display:inline" id="widget-container-div">

		</div>

		<div class="col-xs-6 col-sm-3 placeholder" ui-add-class-div>  
			<div class="placeholder thumbnail">
		    <a href="#classrooms">
		    	<img src="/assets/icon_add_new_plus.png" style="height:150px;"/>
		    	<h4>Join a Classroom</h4>
		    	<span class="text-muted">&nbsp;</span>
		    </a>      	    
	    </div>        
	  </div> 
  </div>
</div>