<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h5 class="modal-title" id="myModalLabel" ui-title>All attempts for: <b><%= activity.name %></b></h5>
  </div>
  <div class="modal-body" ui-body-div>
    

      <% if(activity.activity_type == "scored"){ %>

        <div id="lineGraphDiv"></div>

      <% } %>

      <table class="table table-bordered table-condensed">
        <thead>
          <tr>
            <th>Attempt #:</th>
            <% for(var i = 0; i<performances.length; i++){ %>
              <td><%= i %></td>
            <% } %> 
          </tr>            
        </thead>
        <tbody>
          <tr>
            <th>Scores:</th>
            <% for(var i = 0; i<performances.length; i++){ %>
              <td class="<%= performances[i].performance_color %>"><%= performances[i].performance_pretty%></td>
            <% } %> 
          </tr>            
        </tbody>
      </table>

      
      

  </div>
  <div class="modal-footer" ui-footer-div>    
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>	        
  </div>
</div>
