<form method="get" ui-search-form>
  <div class="input-group">            
      <input type="text" class="form-control input-sm" placeholder="" name="searchTerm" value="<%= searchTerm ? searchTerm : '' %>" ui-search-input>
      <span class="input-group-btn">
        <input type="submit" class="btn btn-default btn-sm" value="Search" ui-search-button>
      </span>            
  </div>
</form>
