// Place all the styles related to the activities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.score-table td{
	padding: 0px 5px 0px 5px;
}

.score-table td input{
	width:75px;
	margin: 0px 0px 15px 0px;
}

#inputMinScore{
	margin-bottom:0px;
}