/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap.min
 *= require bootstrap3-switch
 *= require jquery-ui
 *= require dragtable
 *= require bizwrap/ionicons
 *= require bizwrap/style
 *= require bizwrap/flexslider
 *= require bizwrap/animate
 *= require bizwrap/_variables
 *= require bizwrap/_mixins
 *= require_tree .
 *= require_self
 */


@font-face {
 font-family: 'Glyphicons Halflings';
 src: font-url('/assets/fonts/glyphicons-halflings-regular.eot');
 src: font-url('/assets/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
 font-url('/assets/fonts/glyphicons-halflings-regular.woff') format('woff'),
 font-url('/assets/fonts/glyphicons-halflings-regular.ttf') format('truetype'),
 font-url('/assets/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

 body{
  // background-color: #f1f1f1;
 }

.success-sown{
	background-color: #6BBD49;
}

.danger-sown{
	background-color:#D56464;
}

.warning-sown{
	background-color:#ECD76C;
}

.form-label{
	padding: 6px 12px 6px 0px;
	font-weight: normal;
}

a:hover {
    text-decoration: none;
}

//Dashboard Styles
/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 70px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    /*padding: 20px;*/
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #e4e4e4;
  }
}

.navbar-inverse .navbar-nav>li>a{
	color: #e3e6e9;
	font-family: "latolight" sans-serif;
	font-size: 13px;
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li.nav_active{
	font-weight: 700;
}
.nav-sidebar > li > a {
  padding: 10px 0 10px 15px;
  padding-left: 20px;
  color: #555;
  background-color: #ececec;
	border-bottom: 1px solid #dfdfdf;
	text-decoration: none;
	font-size: 13px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.row_main{
  padding-top:70px;
}

.main {
  padding: 30px 30px 30px 30px;
  background-color: #f1f1f1;
}
@media (min-width: 768px) {
  .main {
    // padding-right: 40px;
    // padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
  display:flex;
}

.header{
	color: #555;
	font-size: 24px;
	font-family: "latolight" sans-serif;
	font-weight:500;
}

.subheader{
  color: #5e6c79;
  font-size: 18px;
  font-family: "latolight" sans-serif;
  font-weight:400;
}

/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}

.placeholder {
  margin-bottom: 20px;
  padding: 10px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

.placeholder > a{
	color: #555;
}

.component .label{
	fill: #555;	
}


/*
 * Misc. Student/TeacherApp Styles
 */ 
.activity_header{  
  min-width:75px; 
  vertical-align:bottom; 
  text-align:center
}



.inline-block{
  display:inline-block;
  padding:10px;
}

.switch{
  height:29px;
}

.center{
  text-align:center;
}

.search-bar-container {
  margin-top: 10px;
}

.tag-list-container{
  margin-top: 10px;
}

