// Place all the styles related to the public_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* 
 * HOME STYLES
 */

// HEADER STYLES
@media (min-width: 768px){
  li.navbar-collapse__sm-only-li{
    display:none;
  }
}

.header-main_pp{
  max-height: 7vh;
}

// SLIDER STYLES
h1.slider-text_h1{
  text-transform: none;
}

h3.subtitle_sown{
  font-style: normal;
  color: #555555;
}



span.slider-text__span_underline{
  text-decoration: underline;
}

p.slider-text__p{
  font-style: normal;
  margin-bottom: 10px;
  font-family: Roboto, sans-serif;
}

p.slider-text__p_margin-top{
  font-style: normal;
  margin-top: 50px;
  font-family: Roboto, sans-serif;
}


@media (max-width: 768px){
  .slider-text__p {
      display: none;
  }

  div.slide-btn_inline, div.slide-btn_no-margin{
    display: none;
  }
}

@media (min-width: 768px){
  .col-sm-offset-4-5{
    margin-left:37.5%;
  }  


  .main-flex-slider_pp-full-page, .main-flex-slider_pp-full-page>ul>li>figure>img{
    min-height: 93vh;
  }
}


// SLIDER BUTTON STYLES
p.slide-btn_inline{
  display: inline;
  margin: 40px 10px 10px 10px;
}

.slide-btn_no-margin{
  margin-top: 0px
}

a.btn-white_less-padding{
  padding: 14px 10px;
  background-color: transparent;
    color: #fff;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    border-radius: 0px;
    border: 2px solid #fff;
}

a.btn-white_less-padding:hover{
  background-color: #fff;
  color: #222;
}


// VIDEO STYLES
div.video{
  position: relative;
  
}

.play-div{
  padding: 0px;
  width: 14%;
  height:10%;
  left: 43%;
  top:45%;
  border-radius:10px;
  border:1px solid #000;
  text-align: center;
  background: #FFFFFF;
  position:absolute;
  cursor: pointer;
  // left:528px;
  // top:247px;
  color: #239236;
  display: flex;
  justify-content: center;
  align-items: center;

}
.play-icon{
  font-size: 24px;
  z-index: 100;
}

.play-div:hover{
  background-color: #239236;
  color: #FFFFFF;
}


// SERVICES BOXES

div.services-box > p{
  font-size: 16px;
}

.role_select_div {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}


h4.heading-mini_margin-top{
  margin-top: 30px;
  margin-bottom: 10px;
}

h5.heading-mini{
  margin-top: 20px;
  margin-bottom: 10px; 
}

div.sign-up-btn-div{
 display:flex; 
 justify-content:space-between;
}

a.green-link{
  color:#239236;
}

a.white-link{
  color:#FFFFFF;
}

// EARLY RESULTS

i.early-results-icon{
  background-color: inherit;
  color: #239236;
  border: 0px;
  font-size: 120px;
  width:100%;
}

div.early-results-number-overlay{
  position:absolute;
  width:14%;
  top:50%;
  left:40%;
  color:#FFFFFF;
}

div.services-icon{
  position: relative;
  text-align: center;
}

div.early-results-row{
  display:flex;
}

div.services-text{
  align-self:center;
  font-size: 18px;
}

div.features > p{
  font-size: 18px;
}

// STEPS
h3.steps-h3{
  margin-bottom: 10px;
}

h4.steps-h4{
  margin-bottom: 30px;
  text-align: center;
}

/*
 * Sign Up and Log In Styles
 */

.page-tree-bg{
  background-image: url("/assets/bizwrap/bread-bg.png")
}

.btn_sign-up{
  margin-top: 15px;
  margin-bottom: 15px;
}

.container-fluid_no-padding{
  padding:0px;
}

.signin-div{
	text-align:center;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/////SIGN UP PAGE STLES - END