// Place all the styles related to the student_performance controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.score_input{
	padding:0px;
	border:none;
}

.table-bordered > tbody > tr > td.score_cell{
	padding:0px;	

}

