
// Place all the styles related to the teacher_account controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.class_selector{
	width:205px;
	height:270px;
	border:1px dashed #BABECC;
	padding-top:40px;	
	background-color:#FBFBFB;
	text-align:center;
	margin: 5px 5px 5px 5px;
}

.class_selector div{
	text-align:center;
}


.teacher_label_info{
  background-color: #BAC8CD; 
}

.selected_tag{
  background-color: #4C5254;
}

/* 
 * Sub Nav
 */ 
.nav_ul{
  list-style: none;
  display: block;
  padding: 0px;
}

.nav_li{
  display: inline-block;
  padding: 10px 20px 10px 0px;
}

.nav_li > a{
  color: #999;
  text-decoration: none;
}

.nav_active > a{
  color: #555;
}






/*
 * TeacherApp Classroom CSS
 */
.classroom_header_region{
  display:flex;
}

.teacher_app_alert{
  margin: 10px 0px 10px 0px;
}

.scores-table>thead>tr>th{
  padding: 0px;
}

.scores-table>thead>tr>th.scores-table__th_students{
  font-weight: bold;
  vertical-align: bottom;
  text-align: left;
  min-width: 200px;
  padding: 5px;
}

.scores-table>thead>tr>th.scores-table__th_activity{
  vertical-align: top;
  text-align: center;
  min-width: 100px;
}

.scores-table>thead>tr>th.scores-table__th_activity_left-right-bordered, .scores-table>tbody>tr>td.scores-table__td_activity_left-right-bordered{
  border-right: 2px solid #DDDDDD;
  border-left: 2px solid #DDDDDD;

}

.scores-table>thead>tr>th>div.scores-table__due-date{
  font-weight: normal;
  font-style: italic;
  min-height: 30px;
  border-bottom: 1px solid #DDDDDD;
  padding: 5px;
}

.scores-table>thead>tr>th>div.scores-table__due-date_label{
  text-align: right;
}

.scores-table>thead>tr>th>div.scores-table__activity{
  font-weight: bold;
  padding: 5px;
}

.scores-table>tbody>tr>td.scores-table__score{
  text-align: center;
}


#perf_table{
  border: 2px solid #CCC;
}

.due_date{
  font-style: italic;
  font-weight: normal;
}

.score_input{
  padding:0px;
  border:none;
}

.table-bordered > tbody > tr > td.score_cell{
  padding:0px;  

}



/*
 * TeacherApp Classrooms CSS
 */

.classroom_edit_div{
  margin: 10px 0px 0px 0px;
}

/*
 * TeacherApp Students CSS
 */

.students_search_form{
  padding: 10px 0px 10px 0px;
}

.table_div{
  background-color: #FFFFFF;
  padding: 10px 10px 10px 10px;
}

#student_main_region{
  padding:15px;
  background-color: #FFFFFF;
}

table > tbody > tr > td.student_index_td{
  padding:0px 0px 0px 0px;
}

table > tbody > tr > td.student_index_name_td{
  padding: 5px 5px 5px 5px;
}

div.top_bordered{
  border-top: 1px solid #DDDDDD;
  padding: 5px;  
  height:30px;
}

div.no_border{
  padding: 5px;
  height:30px;
}

/*
 * TeacherApp Activities CSS
 */
 .warning_text{
  font-weight: bold;
  color: red;
 }

 .score-table td{
  padding: 0px 5px 0px 5px;
}

.score-table td input{
  width:75px;
  margin: 0px 0px 15px 0px;
}

#inputMinScore{
  margin-bottom:0px;
}