<form action="/login_post" method="post" class="form-signin" ui-credentials-form>

  <h2 class="form-signin-heading">Sign in as an Admin:</h2>
  
  <a id="sign_in", class= 'btn btn-block btn-primary btn-google-plus' style="padding: 10px 0px 10px 0px; height:43px;" ui-google-log-in-button><i class="fa fa-google-plus"></i>  Log In with Google</a>

</form>


  


