<div class="col-xs-12">
	<div class="row">
		<form class="form form-horizontal col-xs-12" ui-search-form>
			<div class="form-group">
				<label class="control-label col-xs-3 col-sm-3 col-md-2 col-lg-2">Search for a user:</label>
				<div class=" col-xs-6 col-sm-6 col-md-6 col-lg-8">
					<input type="search" class="form-control" placeholder="John Doe" name="searchTerm" ui-search-term-input> 
				</div>
				<div class=" col-xs-3 col-sm-3 col-md-4 col-lg-2">
					<button type="submit" class="btn btn-primary">Search</button>
				</div>
			</div>
		</form>
	</div>
	
	<div class="row">
		<% if(searchTerm != null) { %>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<table class="table table-bordered" style="margin-top:15px;">
					<thead>
						<th>Id</th>
						<th>User Type</th>
						<th>Account Type</th>
						<th>First Name</th>
						<th>Last Name</th>
						<th>Email</th>
						<th colspan="3">Actions</th>
					</thead>
					<tbody>

					</tbody>
				</table>
			</div>
		<% } %>
	</div>
	
</div>

