<div class="col-md-12">
	<div class="row">
	    <div class="col-md-6" ui-viz-one></div>
	    <div class="col-md-6" ui-viz-two></div>
	</div>

	<div class="row">
	    <div class="col-md-6" ui-viz-three></div>
	    <div class="col-md-6" ui-viz-four></div>
	</div>
</div>