<%= render '/shared/top_nav' %>

<div class="container-fluid">
  <div class="row">  
    <%= render partial: '/shared/left_nav', locals: { active: '' }%>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <h2>New Activity</h2>
      
      <%= render partial: 'activity_form', locals: { button_text: 'Save', action: 'create' }%>


    </div>
  </div>
</div>

