<span class="header"><%= name %></span><span style="margin-left:20px"><a href="#" ui-edit-classroom-link>Edit</a></span>
<ul class="nav_ul" ui-ul>
  <li class="nav_li <% if(subapp === 'scores') {%>nav_active <%}%>" role="presentation"><a href="#" ui-scores-a>Scores</a></li>
  <li class="nav_li <% if(subapp === 'edit_scores') {%>nav_active<%}%>" role="presentation" ><a href="#" ui-edit-data-a>Edit Scores</a></li>
  <li class="nav_li <% if(subapp === 'edit_activities') {%>nav_active <%}%>"  role="presentation" ><a href="#" ui-edit-activities-a> Verifications</a></li>
  <li class="nav_li <% if(subapp === 'student_entry') {%>nav_active <%}%>"  role="presentation" ><a href="#" ui-kiosk-a> Kiosk Mode <span class="badge" style="vertical-align:super; font-size:9px">New!</span></a></li>
</ul>

