  <td class='td_left_col'><%= student.display_name %></td>
  <% for( var i = 0; i < activitiesCount; i++){ %>
    <% if (student_performance[i] == null){ %>
      <td class="center"></td>
    <% }else{ %>
      <td class="center <%= student_performance[i].performance_color %>">
        <%= student_performance[i].performance_pretty %>
        <% if(student_performance[i].requires_verification == 't' && student_performance[i].verified != 't') {%>
          <br /><a href="#" name="<%= student_performance[i].id%>" ui-verify-a>Verify</a> 
        <%}%>
      </td>
    <% } %>
  <% } %>

