<% if(((searchTerm == null || searchTerm == "") && tagId == null ) && (activities == null || activities.length == 0)){ %>
  <div class="alert alert-warning">
    You haven't assigned any activities for your students to work on yet!  Get started by clicking the "Activities" link on the left or the "Edit Activites" link above!
  </div>
<% }else{ %>
  <form ui-activities-header-form>
    <table id="perf_table" class="table table-condensed table-bordered small" style="table-layout:fixed; width:inherit; padding-top:10px;">
      <thead>        
      <tr>
        <th class="student_header" ui-student-header>Student</th>
        <% for(var i = 0; i < activities.length; i++){ %>
            <th class="activity_header" style="" id="header_<%= i %>" name="<%= activities[i].classroom_activity_pairing_id %>" >
              <%= activities[i].name %>              
            </th>             
        <% } %>
      </tr>
      </thead>
      <tbody>    

      </tbody>
    </table>
  </form>

  <% if(collectionSize == null || collectionSize == 0){ %> 
    <div class="alert alert-warning">
      No students have joined your classroom yet.  When they log in, have them use classroom code &quot;<b><%= classroom.classroom_code %></b>&quot; to join this class!
    </div>
  <% } %>

<% } %>