<div id="search_bar_region" class="row search-bar-container"></div>
<div id="tags_region" class="row tag-list-container"></div>
<div id="scores_region" class="" style=""></div>

<div class="modal fade" id="modal_region" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"></div>