

<div class="row">
	<div class="col-md-1 col-md-offset-11">
		<a class="btn btn-md btn-default btn-block js-login" href="#login" ui-login-button>Log In</a>
	</div>
</div>

<div class="row">
  <div class="role_select_div">
  	<h2 class="role_select_heading">Get Started!</h2>
    <a class="btn btn-lg btn-primary btn-block" href="#sign_up_teacher" ui-teacher-sign-up-button>I'm a Teacher</a>
    <a class="btn btn-lg btn-default btn-block" href="#sign_up_student" ui-student-sign-up-button>I'm a Student</a>
  </div>
</div>
 
