<div class="row">
	<div class="col-md-4 col-md-offset-4">
		<div class="center">
			<h4>Get Started as a Student!</h4>
		</div>
		<form action="/student_users" method="post" class="form-horizontal" id="sign-up-form">
			<div style="display:none">
		    <input name="utf8" type="hidden" value="✓">
		    <input name="authenticity_token" type="hidden" value="<%= $('meta[name="csrf-token"]').attr('content') %>">
		  </div>
		  <div class="form-group" ui-first-name-form-group-div>
				<label class="col-md-3 control-label">First Name:</label>
				<div class="col-md-9" ui-first-name-input-div>
					<input class="form-control" id="inputFirstName" name="student_user[first_name]" placeholder="Jane" type="text">					
				</div>
			</div>
			<div class="form-group" ui-last-name-form-group-div>
				<label class="col-md-3 control-label">Last Name:</label>
				<div class="col-md-9" ui-last-name-input-div>
					<input class="form-control" id="inputLastName" name="student_user[last_name]" placeholder="Doe" type="text">					
				</div>
			</div>
			
			<div class="form-group" ui-email-form-group-div>
				<label class="col-md-3 control-label">Email:</label>
				<div class="col-md-9" ui-email-input-div>
					<input class="form-control" id="inputEmail" name="student_user[email]" placeholder="johndoe@example.com" type="email">					
				</div>
			</div>
			<div class="form-group" ui-password-form-group-div>
				<label class="col-md-3 control-label">Password:</label>
				<div class="col-md-9" ui-password-input-div>
					 <input class="form-control" id="inputPassword" name="student_user[password]" placeholder="*****" type="password">					
				</div>
			</div>
			<div class="form-group">					
				<div class="col-md-9 col-md-offset-3">
					<input class="btn btn-primary btn-block js-sign-up" name="commit" type="submit" value="Sign Up">
				</div>
			</div>
			<div class="form-group">
				<div class="col-md-9 col-md-offset-3">
					<center>OR</center>
				</div>
			</div>
			<div class="form-group">					
				<div class="col-md-9 col-md-offset-3">
					<a href="/auth/google_oauth2?redirect_path=teacher_home&amp;signup=true&amps;type=student", id="sign_in", class= 'btn btn-block btn-primary btn-google-plus'><i class="fa fa-google-plus"></i>  Sign up with Google</a>
				</div>
			</div>
			<div class="form-group">
				<div class="col-md-9 col-md-offset-3">
					<p>Already have an account?  <a href="/#login">Log in</a></p>
				</div>
			</div>

		</form>
		

			
		
	</div>


</div>  



