<section id="content-region-3" class="padding-40 page-tree-bg" style="background-position: 50% 52px;">
    <div class="container">
        <h3 class="page-tree-text">
            Terms of Service
        </h3>
    </div>
</section>
<div class="space-70"></div>

<div class="container">
  <div class="row">
      <div class="col-md-12">
          <p>
            Welcome to Sown To Grow!  Sown To Grow, Inc. (“Sown To Grow,” “we,” “us,” or “our”) invites you to access and use our online services (the “Services”), which are made available to you through our website located at www.sowntogrow.com (the “Site”). By accessing and using the Site, and/or the Services, you acknowledge that you have read, understood, and agree to be legally bound by these Terms of Use. If you do not agree to any of these terms, then please do not use the Site, and/or the Services. These Terms of Use may be updated by us from time to time without notice to you.
          </p>
          <p>
            IMPORTANT! If you are not of legal age to form a binding contract (in many places, this is 18 years old), then you must get your parent or guardian to read these terms and agree to them for you, before you use Sown To Grow or provide any information to us. Please review this agreement with your parent or guardian so that you both understand how Sown To Grow works and what restrictions apply to your use of our websites and services. Remember, always get an adult's permission before going online.
          </p>

          <h4 class="heading-mini">
              The Services.
          </h4>
          <p>
              The Services provide a platform where teachers (each a “Teacher”) can assign learning activities and students enrolled in their class (each a “Student”) can enter and track their performance on each activity.  Students may also be able to set goals and reflect on their performance in free text.  The performance data, goal tracking and reflections are all provided to both the Student and Teacher.

          </p>
          <p>
              Unless explicitly stated otherwise, any new features that augment or enhance the current Service, including the release of new Sown To Grow properties, shall be subject to these Terms of Service. You understand and agree that the Service is provided "as-is" and that Sown To Grow assumes no responsibility for the timeliness, deletion, misdelivery or failure to store any user data or personalization settings.

          </p>

          <h4 class="heading-mini">
              Registration and Use.
          </h4>

          <p>
            If you would like to use the Services, you will need to register by creating an account.  During the registration process, you will provide us with your name, email address and password.  Alternatively (and recommended), you can sign up with a third-party login such as Google.  In this case, only email address is required and password authorization occurs through the third-party.  Teacher users may also be asked to provide the school where you work, billing information, and other relevant information used to provide you with a customized experience with our service.  Student users can only access services once they have received an authorization code from their teacher.  This code allows them to join a classroom, access learning activities and track their performance.  Without this code, Student users are unable to access the services, though they are able to log in.
          </p>
          <p>
            You represent and warrant that all registration information you submit is truthful and accurate and you will maintain the accuracy of such information. You are solely responsible for the confidentiality of your user account, as well as for its use and misuse. You will promptly inform us of any need to deactivate a user name or password. We reserve the right to delete or change your user name and/or password at any time and for any reason.
          </p>
          <p>
              Sown To Grow accounts may not be shared by more than one person unless express authorization is given by Sown To Grow, Inc.
          </p>
          <p>
            You will be responsible for any activities that occur under your Teacher Account and any activities that occur under Student Accounts enrolled in your classrooms until you terminate your Teacher Account.  We reserve the right to require you to alter a user name and/or password if we believe that such Account is no longer secure. .
          </p>
          <p>
            You promise to only use the Services for your personal, internal, non-commercial, educational use, and only in a manner that complies with all laws that apply to you. If your use of the Services is prohibited by applicable laws, then you aren't authorized to use the Services. We can't and won't be responsible for you using the Services in a way that breaks the law.
          </p>
          <p>
            You represent and warrant that you are of legal age to form a binding contract (or if not, you've received your parent's or guardian's permission to use the Services and gotten your parent or guardian to agree to these Terms on your behalf, as we described earlier). If you're agreeing to these Terms on behalf of an organization or entity (for example, if you're an administrator agreeing to these Terms on behalf of your district), you represent and warrant that you are authorized to agree to these Terms on that organization or entity's behalf and bind them to these Terms.
          </p>

          <h4 class="mini-headin">Use of Personal Data.</h4>
          <p>
            For the entire current Sown To Grow Privacy Policy, please click here, but we've included some information below related to the Children's Online Privacy and Protection Act ("COPPA") and the Family Educational Rights and Privacy Act (“FERPA”), due to relevance.
          </p>
          <p>
            COPPA requires that online service providers obtain parental consent before they collect personally identifiable information online from children who are under 13. Therefore, we only collect personal information through the Services from a child under 13 where that student's school, district, and/or teacher has agreed (via the terms described in the following paragraph) to obtain parental consent for that child to use the Services and disclose personal information to us, for the use and benefit of the learning environment. If you are a student under 13, please do not send any personal information about yourself to us if your school, district, and/or teacher has not obtained this prior consent from your parent or guardian, and please do not send any personal information other than what we request from you in connection with the Services. If we learn we have collected personal information from a student under 13 without parental consent being obtained by his or her school, district, and/or teacher, or if we learn a student under 13 has provided us personal information beyond what we request from him or her, we will delete that information as quickly as possible. If you believe that a student under 13 may have provided us personal information in violation of this paragraph, please contact us at <a href="mailto:privacy@sowntogrow.com">privacy@sowntogrow.com</a>.
          </p>
          <p>
            If you are a school, district, or teacher, you represent and warrant that you are solely responsible for complying with COPPA, meaning that you must obtain advance written consent from all parents or guardians whose children under 13 will be accessing the Services. When obtaining consent, you must provide parents and guardians with our Privacy Policy. You must keep all consents on file and provide them to us if we request them. For more information on COPPA, please click <a href="https://www.ftc.gov/tips-advice/business-center/guidance/complying-coppa-frequently-asked-questions">here</a>. If you are a teacher, you represent and warrant that you have permission and authorization from your school and/or district to use the Services as part of your curriculum, and for purposes of COPPA compliance, you represent and warrant that you are entering into these Terms on behalf of your school and/or district.
          </p>

          <p>
            In addition, various federal and state laws, including the Family Educational Rights and Privacy Act (“FERPA”), protect the privacy of student educational records and limit when a school may disclose a student’s educational records.  Teacher Users are solely responsible for ensuring that their schools are compliant with all applicable laws and regulations, including, but not limited to, FERPA. Without limiting the generality of the foregoing, Teacher User represents and warrants that for all student records disclosed by Teacher User (if any) (“Student Records”), such Teacher User has obtained, or his/her school has obtained, the appropriate consent from the parents of Student Users, or from the students if such students are 18 and older, as required under FERPA to make such disclosure and grant the following license. Teacher User, on behalf of his/her school, grants, or his/her school grants, to Sown To Grow a nonexclusive license to view, download, reproduce, modify, create derivative works of, distribute, and display such Student Records of a Student User solely for the purposes of (a) providing the Teacher Service to any Teacher Users of such Student User; (b) providing the Student Service to such Student User; and (c) to use de-identified and/or aggregated Student Records to improve the Service.
          </p>

          <h4 class="mini-heading">Fees.</h4>
          <p>
            We currently do not charge any fees to use our Services, but we may begin to charge fees at some point in future, such as for premium versions of the Services that offer additional features and functionality.  You will never be charged without a communication to inform you of the fee amount and services.  You agree that once you have provided your billing information, we may immediately authorize your credit card (or other approved facility, such as a PayPal account) for payment of any such fees associated with Services.
          </p>

          <h4 class="mini-heading">Intellectual Property.</h4>
          <p>
            You acknowledge and agree that the Service and any necessary software used in connection with the Service ("Software") contain proprietary and confidential information that is protected by applicable intellectual property and other laws. You further acknowledge and agree that information presented to you through the Service is protected by copyrights, trademarks, service marks, patents or other proprietary rights and laws. Except as expressly authorized by Sown To Grow or advertisers, you agree not to modify, rent, lease, loan, sell, distribute or create derivative works based on the Service or the Software, in whole or in part.
          </p>
          <p>
            Sown To Grow grants you a personal, non-transferable and non-exclusive right and license to use the Service. You agree that you will not copy, modify, create a derivative work of, reverse engineer, reverse assemble or otherwise attempt to discover any source code, sell, assign, sublicense, grant a security interest in or otherwise transfer any right in the Software. You agree not to modify the Software in any manner or form, or to use modified versions of the Software, including (without limitation) for the purpose of obtaining unauthorized access to the Service. You agree not to access the Service by any means other than through the interface that is provided by Sown To Grow for use in accessing the Service.
          </p>
          <p>
            Furthermore, you understand that the Content is protected by copyright and other laws in both the United States and elsewhere. Under the terms of this agreement, it is expressly forbidden to distribute the Content or any portion thereof by any means, including but not limited to electronic and print, to any person or entity who does not have a valid account. Sown To Grow reserves the right to cancel your organization's license without refund if it is determined that you have violated this portion of the agreement.
          </p>

          <h4 class="mini-heading">Community Guidelines.</h4>
          <p>By accessing and/or using the Site and/or the Services, you hereby agree that:</p>
          <ul>
            <li>You will not use the Site, or the Services for any unlawful purpose;</li>
            <li>
              You will not upload, post, e-mail, transmit, or otherwise make available any content that:
              <ul>
                <li>infringes any copyright, trademark, right of publicity, or other proprietary rights of any person or entity; or</li>
                <li>is threatening, tortious, defamatory, libelous, indecent, obscene, pornographic, sexually explicit, invasive of another’s privacy, or promotes extreme violence or cruelty to animals, or contains hate speech (i.e., speech that attacks or demeans a group based on race or ethnic origin, religion, disability, gender, age, veteran status, and/or sexual orientation/gender identity; or</li>
                <li>discloses any sensitive information about another person, including that person’s e-mail address, postal address, phone number, credit card information, or any similar information.</li>
              </ul>
            </li>
            <li>You will not spam or use the Site, or the Services to engage in any commercial activities, including, without limitation, raising money; advertising or promoting a product, service, website, or company; or engaging in any pyramid or other multi-tiered marketing scheme;</li>
            <li>You will not impersonate any person or entity or falsely state or otherwise misrepresent your affiliation with a person or entity; and</li>
            <li>You will not interfere with or attempt to interrupt the proper operation of the Site, or the Services through the use of any virus, device, information collection or transmission mechanism, software or routine, or access or attempt to gain access to any data, files, or passwords related to the Site, or the Services through hacking, password or data mining, or any other means.</li>
          </ul>

          <h4 class="mini-heading">Modifications of Service.</h4>
          <p>
            Sown To Grow reserves the right at any time and from time to time to modify or temporarily discontinue the Service (or any part thereof) with or without notice. You agree that Sown To Grow shall not be liable to you or to any third party for any modification, suspension or temporary discontinuance of the Service. In the event of permanent discontinuance of the Service, liability is limited to the paid subscription price, pro-rated to the amount of time remaining on the subscription.
          </p>

          <h4 class="mini-heading">Unsolicited Information.</h4>
          <p>
            By submitting any unsolicited information and materials, including comments, ideas, questions, designs, and other similar communications (collectively, “Unsolicited Information”) to us through the Site and/or the Services, you agree to be bound by the following terms and conditions. If you do not agree with these terms and conditions, you should not provide us with any Unsolicited Information. All Unsolicited Information will be considered NON-CONFIDENTIAL and NON-PROPRIETARY. We, or any of our affiliates, may use such communication or material for any purpose whatsoever, including, but not limited to, reproduction, disclosure, transmission, publication, broadcast, and further posting. Further, we and our affiliates are free to use any ideas, concepts, know-how, or techniques contained in any communication or material you send to the site for any purpose whatsoever, including, but not limited to, developing, manufacturing, and marketing products. By submitting any Unsolicited Information, you are granting us a perpetual, royalty-free and irrevocable right and license to use, reproduce, modify, adapt, publish, translate, distribute, transmit, publicly display, publicly perform, sublicense, create derivative works from, transfer and sell such Unsolicited Information and to use your name and other identifying information in connection with such Unsolicited Information.
          </p>

          <h4 class="mini-heading">Disclaimer and Limitation of Liability.</h4>
          <p>
            NONE OF SOWN TO GROW, ITS AFFILIATES, SUBSIDIARIES, OR ITS OR THEIR OFFICERS, DIRECTORS, EMPLOYEES OR AGENTS (COLLECTIVELY THE “CURRICULET PARTIES”) ENDORSE ANY TEACHER, STUDENT, TEACHER GENERATED CONTENT, OR PERFORMANCE DATA SUBMITTED THROUGH THE SERVICES. YOU ACKNOWLEDGE THAT THE SERVICES MERELY ACT AS A PLATFORM THAT ALLOWS STUDENTS TO TRACK THEIR PERFORMANCE ON LEARNING ACTIVITIES PROVIDED BY THEIR TEACHERS. NONE OF THE SOWN TO GROW PARTIES IS A PARTY TO, OR HAS ANY RESPONSIBILITY OR LIABILITY WITH RESPECT TO ANY RESULTS CAUSED BY USING THE SITE OR THE SERVICES. WE EXPRESSLY DISCLAIM ANY AND ALL LIABILITY IN CONNECTION WITH THE FOREGOING.
          </p>
          <p>
            YOU ACKNOWLEDGE AND AGREE THAT THE SITE, AND THE SERVICES, INCLUDING, WITHOUT LIMITATION, ALL CONTENT, FUNCTIONS AND MATERIALS, ARE PROVIDED “AS IS,” “AS AVAILABLE”, WITHOUT WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING, WITHOUT LIMITATION, ANY WARRANTIES OF TITLE, NON-INFRINGEMENT, MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE. NONE OF THE SOWN TO GROW PARTIES WARRANT THAT THE SITE OR THE SERVICES, CONTENT, FUNCTIONS OR MATERIALS CONTAINED THEREIN WILL BE TIMELY, SECURE, UNINTERRUPTED OR ERROR FREE, OR THAT DEFECTS WILL BE CORRECTED. NONE OF THE SOWN TO GROW PARTIES SHALL BE LIABLE FOR ANY DAMAGES TO, OR VIRUSES THAT MAY INFECT, YOUR COMPUTER EQUIPMENT OR OTHER PROPERTY ON ACCOUNT OF YOUR ACCESS TO OR USE OF THE SITE OR THE SERVICES. YOUR USE OF THE SITE AND THE SERVICES IS ENTIRELY AT YOUR OWN RISK. YOUR SOLE AND EXCLUSIVE REMEDY FOR DISSATISFACTION WITH THE SITE OR THE SERVICES IS TO STOP USING THE SAME.
          </p>
          <p>
            IN NO EVENT SHALL ANY SOWN TO GROW PARTY BE LIABLE FOR SPECIAL, INDIRECT, PUNITIVE, EXEMPLARY, OR CONSEQUENTIAL DAMAGES, INCLUDING LOST PROFITS, REVENUES OR SAVINGS, EVEN IF SUCH SOWN TO GROW PARTY HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES IN ADVANCE. IN NO EVENT SHALL THE TOTAL CUMULATIVE LIABILITY OF THE CURRICULET PARTIES FOR DIRECT DAMAGES ARISING UNDER THESE TERMS OF USE OR RELATING THERETO, EXCEED ONE HUNDRED DOLLARS ($100). BECAUSE SOME JURISDICTIONS DO NOT ALLOW THE EXCLUSION OR LIMITATION OF LIABILITY FOR NEGLIGENCE, CONSEQUENTIAL, INCIDENTAL OR OTHER DAMAGES, IN SUCH JURISDICTIONS OUR LIABILITY IS LIMITED TO THE GREATEST EXTENT PERMITTED BY APPLICABLE LAW.
          </p>

          <h4 class="mini-heading">External Sites.</h4>
          <p>
            The Service may provide, or third parties may provide, links to other Internet websites or resources (“External Sites”). Because Sown To Grow has no control over such sites and resources, you acknowledge and agree that Sown To Grow is not responsible for the availability of such external sites or resources, and does not endorse and is not responsible or liable for any Content, advertising, products, or other materials on or available from such sites or resources. You further acknowledge and agree that Sown To Grow shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with use of or reliance on any such Content, goods or services available on or through any such site or resource.
          </p>

          <h4 class="mini-heading">Indemnification.</h4>
          <p>
            You agree to defend, indemnify, and hold the Sown To Grow Parties harmless from and against any and all claims, actions, or demands and relating costs, damages and liability (including, without limitation, reasonable attorneys’ fees) arising or resulting from: (i) your breach of these Terms of Use; (ii) your access to, use, or misuse of the Site, or the Services; (iii) your violation of any third-party right, including without limitation any copyright, trademark, property, or privacy right; and (iv) any claims brought against Sown To Grow Parties by a Student as a result of any of your acts or omissions.
          </p>

          <h4 class="mini-heading">Advertisements on this Site</h4>
          <p>
            We, in our sole discretion, may post the advertisements of third parties on the Site. The display of advertisements on the Site is not intended as and does not in any manner constitute a recommendation, endorsement, or approval of the advertiser or its services by us. Your correspondence or any other dealings with advertisers found on the Site are solely between you and such advertiser and we are not responsible or liable for the statements or conduct of any third party, nor for any loss or damage incurred as a result of any such dealings or as the result of the presence of such advertisers on the Site.
          </p>

          <h4 class="mini-heading">Compliance with Applicable Laws.</h4>
          <p>
            The Site, and the Services are based in the United States, and are intended to be used only by residents of the United States. We make no claims concerning whether the Site, the Services, the Sown To Grow Content, or the Teacher Generated Content may be viewed or be appropriate for use outside of the United States. If you access the Site, the Services, the Sown To Grow Content, or the Teacher Generated Content from outside of the United States, you do so at your own risk. Whether inside or outside of the United States, you are solely responsible for ensuring compliance with the laws of your specific jurisdiction.
          </p>

          <h4 class="mini-heading">Termination</h4>
          <p>
            We may terminate these Terms of Use and your access to all or any part of the Site, or the Services at any time and for any reason without prior notice or liability. We reserve the right to change, suspend, or discontinue all or any part of the Site, or the Services at any time without prior notice or liability. cease.
          </p>

          <h4 class="mini-headingg">Miscellaneous.</h4>
          <p>
            In the event that any portion of these Terms of Use is held to be invalid or unenforceable, then such portion shall be construed in accordance with the applicable law as nearly as possible to reflect the original intentions of the parties, and the remainder of these Terms of Use shall remain in full force and effect. This section, the section entitled Intellectual Property, Indemnification, and the section entitled Disclaimer and Limitation of Liability shall survive the termination of these Terms of Use. You may not assign these Terms of Use. No waiver shall be effective unless in writing. Neither the course of conduct between parties nor trade practice shall act to modify any provision of these Terms of Use. These Terms of Use and any other agreements between the parties entered into through this Site shall be governed by and construed in accordance with the laws of the State of California. Except for proceedings commenced by us to protect our intellectual property or confidential information which may be brought in any court of competent jurisdiction, the parties mutually agree that any and all disputes arising hereunder shall be resolved exclusively by state or federal courts located in the State of California. These Terms of Use contain the entire agreement of the parties concerning the Site and the Services and supersede all existing agreements and all other oral, written or other communication between the parties concerning its subject matter. You shall comply with all laws, rules and regulations which are now or hereinafter promulgated by any government authority or agency which govern or apply to the operation and use of the Site and/or the Services.
          </p>
          <p> 
            Questions or comments regarding this Site, including any reports of non-functioning links, should be submitted using our email address <a href="mailto:help@sowntogrow.com">help@sowntogrow.com</a>, or via U.S. mail to Sown To Grow, Inc., 515 Crofton Ave., Oakland, CA 94610.  We try to respond in a timely manner but are not always able to do so.
          </p>

      </div>

  </div>
</div>

