
<section id="content-region-3" class="padding-40 page-tree-bg" style="background-position: 50% 52px;">
    <div class="container">
        <h3 class="page-tree-text">
            Privacy Policy
        </h3>
    </div>
</section>
<div class="space-70"></div>

<div class="container">
  <div class="row">
      <div class="col-md-12">
          
          <p>
            We at Sown To Grow, Inc. know that you care how information about you is used and shared, and we appreciate your trust that we will do so carefully and sensibly. This notice describes our privacy policy.
          </p>
          <p>
            This privacy policy does not govern any school’s collection, use, or disclosure of personal information through the Site or Service, and we are not responsible for any such collection, use, or disclosure. Parents, please contact your child’s school to understand the school’s privacy practices.
          </p>

          <h4 class="heading-mini heading-mini_margin-top">
              Information We Collect
          </h4>
          <p>
            We do not collect any personal information from you unless you voluntarily provide it to us.
          </p>

          <h5 class="heading-mini">Teacher Accounts</h5>
          <p>
            When you sign up to become a Teacher, you will be asked to provide us with certain personal information, such as your first name, last name and email address.  You may also be asked to provide the school where you work, billing information, and other relevant information used to provide you with a customized experience with our service.  Alternatively (and recommended), Teachers can sign up with a third-party login such as Google.  Please see below for relevant information collected. 
          </p>
          <p>
            We may also obtain information from other sources, such as your school or district should they choose to create an institutional account with Sown To Grow, and combine that with information we collect directly from you. 
          </p>

          <h5 class="heading-mini">Student Accounts</h5>
          <p>
            When you sign up to become a Student, you will be asked to provide us with certain personal information, such as your first name, last name, and email address.  Alternatively (and recommended), Students can sign up with a third-party login such as Google.  Please see below for relevant information collected.  Students can only access our services when they are invited by their teacher and given a unique Group Code.
          </p>  
          <p>
            We only collect personal information through the Services from a child under 13 where that student’s school, district, and/or teacher has agreed (via the terms described in more detail in the Terms of Service) to obtain parental consent for that child to use the Services and disclose personal information to us, for the use and benefit of the learning environment. 
          </p>
          <p>
            If you are a Student under the age of 13, please do not send any Personal Information to us if your school has not obtained this prior consent from your parent or guardian. If we learn we have collected Personal Information from a Student under the age of 13 without parental consent being obtained by his or her school, or if we learn a Student under the age of 13 has provided us Personal Information beyond what we request from him or her, we will delete that information as quickly as possible. If you believe that a Student under the age of 13 may have provided us Personal Information in violation of this Privacy Policy, please contact us at <a href="mailto:privacy@sowntogrow.com">privacy@sowntogrow.com</a>. 
          </p>

          <p>
            We collect some non-personal information from students who use our service. For example, when a student uses a student account to track their results on learning activities assigned by the teacher, we will collect the student scores submitted for each activity. Our Service also may store information about student progress through standards or concepts.
          </p>

          <p>
            Student information is used, processed, and disclosed only:
          </p>
          <ul>
            <li>to provide students and their schools with the services requested from Sown To Grow;</li>
            <li>and/or as de-identified, anonymized, or aggregated data.</li>
          </ul>

          <h5 class="heading-mini">Third-party sign-in for all users (e.g., Google)</h5>
          <p>
            If you sign-in through Google, you are authorizing Sown To Grow to collect, store, and use, in accordance with this Privacy Policy, any and all information that you agreed that Google, Inc. would provide to Sown To Grow through Google’s Application Programming Interface (“API”). Such information may include, without limitation, your first and last name, Google username, Google profile picture, headline, unique identifier and access token, and e-mail address. In this Privacy Policy, we refer to this information as “Personal Information.” 
          </p>

          <h5 class="heading-mini">Information collected through technology for all users</h5>
          <p>
            Like most websites, we use automatic data collection technology when you visit the Site to record information that identifies your computer, to track your use of our Site, and to collect certain basic information about you and your browsing habits. This information includes information about your operating system, your IP addresses, browser type and language, referring and exit pages and URLs, keywords, date and time, amount of time spent on particular pages, what sections of a website you visit, and similar information concerning your use of the Site and the Services (the “Usage Information”).
          </p>
          <p>
            We collect this Usage Information by using cookies and pixel tags (also called web beacons or clear gifs). Cookies are small packets of data that a web site stores on your computer’s hard drive so that your computer will “remember” information about your visit. Clear gifs are tiny graphics with a unique identifier, similar in function to cookies, and are used to track the online movements of web site users. You can reject cookies by following the directions provided in your Internet provider’s “help” file. If you reject cookies, you may still visit the Site, but may not be able to use some areas of the Site and/or the Services.
          </p>
          <p>
            We do not collect Personal Information in this way, but if you’ve provided us with Personal Information we may associate that information with the information that is collected automatically. Automatic data collection may be performed on our behalf by our services providers.
          </p>

          <h4 class="heading-mini heading-mini_margin-top">How We Use Your Information</h4>
          <p>
            We may use your Personal Information and Usage Information in a manner that is consistent with this Privacy Policy and the context of our relationship with you. We will use your Personal Information and Usage Information collected through the Site for the following purposes:
          </p>
          <ul>
            <li>To respond to your requests and to provide you with the Services;</li>
            <li>To respond to your inquiries and contact you about changes to the Site, and/or the Services;</li>
            <li>To send you notices (for example, in the form of e-mails, mailings, and the like) regarding products or services you are receiving, and for billing and collection purposes;</li>
            <li>For any other purposes disclosed at the time the information is collected or to which you consent; and</li>
            <li>As otherwise specifically described in this Privacy Policy.</li>
          </ul>

          <p>
            We may also use your information to improve our Site, and/or the Services, and may use cookies and other information to enable us to customize your user experience.  We do not disclose your Personal Information to third parties for their direct marketing purposes.
          </p>
          <p>
            For Student accounts, your Teacher will have access to view and edit your results on learning activities specifically assigned by that Teacher.
          </p>
          <p>
            Sown To Grow may do research on our users' demographics, interests, and behavior based on the information provided to us upon registration, from our server log files, or from surveys. We do this to better understand and serve our users; for instance, this information often gives us ideas for improving our products. This research is compiled and analyzed on a deidentified and aggregated basis.
          </p>
          <p>
            We, like many businesses, sometimes hire other companies to perform certain business-related functions. Examples include mailing information, maintaining databases, hosting services, and processing payments. When we employ another company to perform a function of this nature, we provide them with the information that they need to perform their specific function, which may include Personal Information.
          </p>
          <p>
            If all or substantially all of our assets are acquired, we expect that the information that we have collected, including Personal Information, would be transferred along with our other business assets.
          </p>
          <p>
            We may disclose your Personal Information and Usage Information to government authorities, and to other third parties when compelled to do so by government authorities, at our discretion, or otherwise as required by law, including but not limited to in response to court orders and subpoenas. We also may disclose your Personal Information and Usage Information when we have reason to believe that someone is or may be causing injury to or interference with our rights or property, other users of this Site, or anyone else that could be harmed by such activities.
          </p>

          <h4 class="heading-mini heading-mini_margin-top">How We Protect Your Information</h4>
          <p>
            Sown To Grow takes reasonable steps to help protect your personal information in an effort to prevent loss, misuse, and unauthorized access, disclosure, alteration, and destruction. Although we will exercise reasonable care in protecting your personal information, no company can fully prevent security risks, and we cannot ensure or warrant the security of your personal information.
          </p>

          <h4 class="heading-mini heading-mini_margin-top">Accessing and Modifying Account Information</h4>

          <p>
            You may update the information that is stored in your user account by e-mailing us at <a href="mailto:privacy@sowntogrow.com"></a>privacy@sowntogrow.com.
          </p>
          <p>
            We strive to help parents ensure that their kids have a safe experience using our Services. Parents can review any Personal Information collected about their child under 13 years of age, have this information deleted, and/or request that there be no further collection or use of their child’s Personal Information. We take steps to verify the identity of anyone requesting information about a child and to ensure that the person is in fact the child’s parent or legal guardian.
          </p>

          <h4 class="heading-mini heading-mini_margin-top">Your Choices</h4>
          <p>
            If you wish to stop receiving promotional e-mails, you may do so by e-mailing <a href="mailto:privacy@sowntogrow.com">privacy@sowntogrow.com</a>. You may also choose to unsubscribe from our emails by following the instructions in the bottom of the email.
          </p>
          <p>
            Many Web browsers are set to accept cookies by default. If you prefer, you can usually choose to set your browser to remove cookies and to reject cookies.  If you choose to remove cookies or reject cookies, this could affect certain features or services of our Site.
          </p>

          <h4 class="heading-mini heading-mini_margin-top">Links</h4>
          <p>
            The Site may contain content, services, advertising and other materials that link to web sites operated by third parties. We have no control over those other sites, and this Privacy Policy does not apply to them.
          </p>

          <h4 class="heading-mini heading-mini_margin-top">Important Notice to Non-U.S. Residents</h4>
          <p>
            The Site, and the Services are operated in the United States. If you are located outside of the United States, please be aware that any information you provide to us will be transferred to the United States. By providing us with any information through the Site, or the Services, you consent to this transfer.
          </p>

          <h4 class="heading-mini heading-mini_margin-top">Children’s Online Privacy Protection Act of 1998 (COPPA)</h4>
          <p>
            We strive to educate parents and kids about how to appropriately safeguard their privacy when using our Services. We are committed to complying with the Children’s Online Privacy Protection Act of 1998 (“COPPA”) that requires us to inform parents and legal guardians about our information collection and use practices. COPPA also requires that we obtain parental consent before we allow children under the age of 13 to access and/or use our Services. We urge kids to check with their parents before entering information through our Site and/or Services, and we recommend that parents discuss with their kids restrictions regarding the online release of Personal Information (as defined below) to anyone they don’t know. By visiting our Site and/or using our Services, or by permitting your child to use our Services, you are agreeing to the terms of this Privacy Policy and the accompanying Terms of Use. Capitalized terms not defined in this Privacy Policy shall have the meaning set forth in our Terms of Use.  The Site and the Services are available to children under the age of 13 only with parental consent.
          </p>

          <h4 class="heading-mini heading-mini_margin-top">Changes to This Privacy Policy</h4>
          <p>
            This Privacy Policy is effective as of the date stated at the top of this Privacy Policy. We may change this Privacy Policy from time to time, and will post any changes on the Site as soon as they go into effect. By accessing the Site or using the Services after we make any such changes to this Privacy Policy, you are deemed to have accepted such changes. Please refer back to this Privacy Policy on a regular basis.
          </p>

          <h4 class="heading-mini heading-mini_margin-top">How to Contact Us</h4>
          <p>
            If you have questions about this Privacy Policy, please e-mail us at <a href="mailto:privacy@sowntogrow.com">privacy@sowntogrow.com</a> with “PRIVACY POLICY” in the subject line, or mail us at the following address: Sown To Grow, 515 Crofton Avenue, Oakland, CA 94610.
          </p>



      </div>
  </div>
</div>
