<section id="content-region-3" class="padding-40 page-tree-bg" style="background-position: 50% 52px;">
    <div class="container">
        <h3 class="page-tree-text">
            Terms of Service
        </h3>
    </div>
</section>
<div class="space-70"></div>

<div class="container">
  <div class="row">
      <div class="col-md-12">
          <p>
            Welcome to Sown To Grow!  Sown To Grow, Inc. (“Sown To Grow,” “we,” “us,” or “our”) invites you to access and use our online services (the “Services”), which are made available to you through our website located at www.sowntogrow.com (the “Site”). By accessing and using the Site, and/or the Services, you acknowledge that you have read, understood, and agree to be legally bound by these Terms of Use. If you do not agree to any of these terms, then please do not use the Site, and/or the Services. These Terms of Use may be updated by us from time to time without notice to you.
          </p>
          <h4 class="heading-mini">
              The Services.
          </h4>
          <p>
              The Services provide a platform where teachers (each a “Teacher”) can assign learning activities and students enrolled in their class (each a “Student”) can enter and track their performance on each activity.  Students may also be able to set goals and reflect on their performance in free text.  The performance data, goal tracking and reflections are all provided to both the Student and Teacher.

          </p>
          <p>
              Unless explicitly stated otherwise, any new features that augment or enhance the current Service, including the release of new Sown To Grow properties, shall be subject to these Terms of Service. You understand and agree that the Service is provided "as-is" and that Sown To Grow assumes no responsibility for the timeliness, deletion, misdelivery or failure to store any user data or personalization settings.

          </p>

          <h4 class="heading-mini">
              Registration and Use.
          </h4>

          <p>
            If you would like to use the Services, you will need to register by creating an account.  During the registration process, you will provide us with your name, email address and password.  Alternatively (and recommended), you can sign up with a third-party login such as Google.  In this case, only email address is required and password authorization occurs through the third-party.  Teacher users may also be asked to provide the school where you work, billing information, and other relevant information used to provide you with a customized experience with our service.  Student users can only access services once they have received a authorization code from their teacher.  This code allows them to join a classroom, access learning activities and track their performance.
          </p>
          <p>
            You represent and warrant that all registration information you submit is truthful and accurate and you will maintain the accuracy of such information. You are solely responsible for the confidentiality of your user account, as well as for its use and misuse. You will promptly inform us of any need to deactivate a user name or password. We reserve the right to delete or change your user name and/or password at any time and for any reason.
          </p>
          <p>
            Sown To Grow accounts may not be shared by more than one person unless express authorization is given by Sown To Grow, Inc.
          </p>
          <p>
            You will not: (a) create an Account for anyone other than yourself; (b) create or use more than one Teacher Account at any given time; (c) create or use more than one Student Account at any given time; (d) transfer your Accounts to anyone else; (e) permit others to use your Accounts; or (f) use or access other persons’ Teacher Accounts; or (g) create Student User accounts beyond the scope of the license paid for in accordance with Section 3.
          </p>
          <p>
            You will be responsible for any activities that occur under your Teacher Account and any activities that occur under Student Accounts created using your Teacher Account until you terminate your Teacher Account in accordance with Section 12.  We reserve the right to require you to alter a user name and/or password if we believe that such Account is no longer secure. 
          </p>
          <p>
            You promise to only use the Services for your personal, internal, non-commercial, educational use, and only in a manner that complies with all laws that apply to you. If your use of the Services is prohibited by applicable laws, then you aren't authorized to use the Services. We can't and won't be responsible for you using the Services in a way that breaks the law. Also, your use of the Services is subject to our Acceptable Use Policy, which outlines what you can and can't do with and on the Services. Read the Acceptable Use Policy carefully, and please be a good digital citizen at all times - we are all in this together! For more on digital citizenship, please click here. A violation of the Acceptable Use Policy will be grounds for termination of your right to use or access the Services.
          </p>

      </div>
  </div>
</div>

