<section id="content-region-3" class="padding-40 page-tree-bg">
  <div class="container">
      <h3 class="page-tree-text">
          Create a new <%= user_type %> account!
      </h3>
  </div>
</section><!--page-tree end here-->
<div class="space-70"></div>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-sm-12" ui-flash-message-region></div>
  </div>
  <div class="row">
      <div class="col-md-6 col-md-offset-3">
          <div class="my-login-form">
              <form>
              <h4 class="heading-mini">Sign up</h4><hr>
              <div class="row">
              	<div>
              		<div class="form-group form-group_sign-up" ui-google-sign-up-div>					
										<div class="col-md-8 col-md-offset-2">
											<a id="signinButton" class="btn btn-lg btn-block theme-btn-color btn-google-plus btn_sign-up" ui-google-sign-up-button><i class="fa fa-google-plus"></i> Sign up with Google</a>					
										</div>
									</div>

              		<div class="form-group form-group_sign-up" ui-or-div>
										<div class="col-md-8 col-md-offset-2">
											<div class="center">OR</div>
										</div>
									</div>

									<div class="form-group form-group_sign-up" ui-create-account-div>					
										<div class="col-md-8 col-md-offset-2">
											<a class="btn btn-lg theme-btn-color btn-block js-sign-up btn_sign-up" ui-create-account-button>Create an account</a>
										</div>
									</div>	
								</div>
  								<div ui-standard-form-div style="display:none">
                    <div class="form-group" ui-first-name-form-group-div>
  										<div class="col-md-6 margin-btm-20" ui-first-name-input-div>
  	                      <input type="text" class="form-control" placeholder="First Name..." id="inputFirstName" name="user[first_name]">
  	                  </div>
                    </div>
                    <div class="form-group" ui-last-name-form-group-div>
  	                  <div class="col-md-6 margin-btm-20" ui-last-name-input-div>
                        <input type="text" class="form-control" placeholder="Last Name..." id="inputLastName" name="user[last_name]">
                    	</div>
                    </div>
                    <div class="form-group" ui-email-form-group-div>
                    	<div class="col-md-6 margin-btm-20" ui-email-input-div>
                        <input type="email" class="form-control" placeholder="Email.." name="user[email]">
                    	</div>
                    </div>
                    <div class="form-group" ui-password-form-group-div>
                    	<div class="col-md-6 margin-btm-20" ui-password-input-div>
                        <input type="password" class="form-control" placeholder="Password..." name="user[password]">
                    	</div>
                    </div>
                    <div class="form-group" ui-tos-privacy-form-group-div>
                      <div class="col-md-12 margin-btm-20" style="text-align:center" ui-tos-privacy-input-div>
                        <input type="checkbox" ui-privacy-tos-checkbox>
                        I agree to Sown To Grow's <a href="#terms_of_service" ui-terms-of-service-link>Terms of Service</a> and <a href="#privacy" ui-privacy-link>Privacy Policy</a>
                      </div>
                    </div>
                    <div class="form-group">
  										<div class="col-md-8 col-md-offset-2">
                        <button type="submit" class="btn btn-lg btn-block theme-btn-color js-sign-up" ui-sign-up-button>Sign up</button>
                    	</div>
                    </div>

  								</div>
										
										
              </div>
              <hr>
              <div class="form-btm-link text-center">
               <a href="#login">Already have an account? </a>
              </div>
              <hr>              
          </form>
          </div>
      </div>
  </div>
</div>

<div class="space-70"></div><div class="space-30"></div>

