<section id="slider-sec" class="slider-reg">
    <div class="main-flex-slider main-flex-slider_pp-full-page row">
        <ul class="slides col-xs-12">
            <li>
                <figure>

                    <img src="assets/slider_rupa_crop.jpg" class="img-responsive" alt="slider-img-1">
                    <figcaption class="slider-overlay slider-overlay_darker">
                        <div class="slider-text animated fadeInDown">
                            <h1 class="slider-text_h1">Growth in Mastery <span class="slider-text__span_underline">and</span> Mindset</h1>
                            <p class="slider-text__p">
                                Students enter their own scores, see their hard work lead to<br /> stronger performance, and take control of their own learning.
                            </p>
                            <p class="slider-text__p_margin-top">
                                Get started with a free account now.
                            </p>
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="slide-btn slide-btn_inline slide-btn_no-margin col-sm-offset-3 col-sm-6 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
                                        <div class="sign-up-btn-div row">
                                            <div class="col-xs-6">
                                                <a href="#sign_up_teacher" ui-teacher-sign-up-button class="btn btn-white_less-padding btn-lg btn-block">I'm a New Teacher</a>
                                            </div>
                                            <div class="col-xs-6">
                                                <a href="#sign_up_student" ui-student-sign-up-button class="btn btn-white_less-padding btn-lg btn-block">I'm a New Student</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-4 col-md-offset-4">
                                        <p class="slider-text__p_margin-top">
                                            Already have an account?
                                        </p>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="slide-btn slide-btn_no-margin col-sm-offset-3 col-sm-6 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
                                        <div class="sign-up-btn-div row">
                                            <div class="col-xs-12">
                                                <a href="#login" class="btn btn-white_less-padding btn-block">Login</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </figcaption>
                </figure>
            </li>            
        </ul>
    </div>
</section><!--main flex slider end-->

<div class="space-70"></div>

<div class="container">
    <div class="row intro-row">
        <div class="col-xs-12 text-center wow animated fadeInUp">
            <h2>What We Do</h2>
            <h3 class="subtitle subtitle_sown">Sown To Grow flips a traditional scorebook upside down, from teacher-owned to student-owned.</h3>
            <h3 class="subtitle subtitle_sown">Students enter in their own scores on learning activities and assessments.  <br />And when they do this, incredible things happen with their mindset.  Watch this video to learn more.</h3>

            <div class="space-30"></div>

            <div class="video" ui-video-div-one>
                <div class="play-div">
                    <i class="ion-play play-icon"></i>
                </div>
                <a href="#">
                    <img src="/assets/vid1.jpg" width="854" height="480">
                </a>
            </div>
        </div>
    </div><!--row end-->
</div><!--intro with services end-->


<div class="space-70"></div>

<section id="content-region-1" class="padding-40">
    <div class="container">

        <div class="row intro-row">
            <div class=" col-md-4 col-sm-12">
                <div class="services-box">
                    <i class="ion-ios-lightbulb-outline"></i>
                    <h1 class="homepage-callout">True student ownership</h1>
                    <p>
                        Students truly internalize their level of mastery when they enter their own scores.  Often, they practice or revise to make sure their best effort is reflected.
                    </p>
                </div>
            </div><!--services box-->
            <div class=" col-md-4 col-sm-12">
                <div class="services-box">
                    <i class="ion-stats-bars"></i>
                    <h1 class="homepage-callout">Real time data to inform instruction</h1>
                    <p>
                        Teachers see real-time performance data across all tools and assessments. No more logging in to multiple softwares for endless reports.
                    </p>
                </div>
            </div><!--services box-->
            <div class="col-md-4  col-sm-12">
                <div class="services-box">
                    <i class="ion-android-happy"></i>
                    <h1 class="homepage-callout">Growth in mastery and mindset</h1>
                    <p>
                        Students better understand their strengths and weaknesses and can directly link their hard work with stonger performance.
                    </p>
                </div>
            </div><!--services box-->
        </div>

    </div><!--intro with services end-->
</section>

<div class="space-70"></div>

<div class="container">
    <div class="row intro-row">
        <div class="col-xs-12 text-center wow animated fadeInUp">
            <h2>How It Works</h2>
            <h3 class="subtitle subtitle_sown"><b>Teachers</b> design learning activities using any tool available (online or offline) and flexibly define score ranges and mastery levels</h3>
            <h3 class="subtitle subtitle_sown"><b>Students</b> enter their <span style="text-decoration:underline">own</span> scores on each learning activity, visually seeing improvement as they master content</h3>
            <h3 class="subtitle subtitle_sown"><b>Students &amp; Teachers</b> are able to view and analyze performance across every tool used in the classroom, <span style="text-decoration:underline">all in one place</span></h3>

            <div class="space-30"></div>

            <div class="video" ui-video-div-two>
                <div class="play-div">
                    <i class="ion-play play-icon"></i>
                </div>
                <a href="#">
                    <img src="/assets/vid2.jpg" width="854" height="480">
                </a>
                
            </div>

        </div>
        
    </div><!--row end-->

</div><!--intro with services end-->

<div class="space-70"></div>

<section id="content-region-1" class="padding-40">
    <div class="container">
        <div class="row">
            <div class="col-md-7 features">
                <h3>Early Results</h3>
                <p>
                    Students who use Sown To Grow show significant shifts in mindset compared to those who don’t.  When surveyed just a few weeks after using the tool, far more said:
                </p>
                <div class="row early-results-row">
                    <div class="col-md-3 services-icon">
                        <img src="assets/er_19.png">
                    </div>
                    <div class="col-md-9 services-text">
                        <p>I always <b>try my hardest</b> to get good grades </p>
                    </div>
                </div><!--services list-->
                <div class="row early-results-row">
                    <div class="col-md-3 services-icon">
                        <img src="assets/er_10.png">
                    </div>
                    <div class="col-md-9 services-text">
                        <p>I always <b>set goals<b> for my own learning</p>
                    </div>
                </div><!--services list-->
                <div class="row early-results-row">
                    <div class="col-md-3 services-icon">
                        <img src="assets/er_19.png">
                    </div>
                    <div class="col-md-9 services-text">
                        <p><b>I have the power</b> to determine my grades </p>
                    </div>
                </div><!--services list-->


            </div>
            <div class="col-md-5">
                <img src="assets/results_pic.jpg" class="img-responsive" alt="">
            </div>
        </div>

    </div><!--container-->
</section><!--features end-->

<div class="space-70"></div>

<section>
    <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="heading-sec steps-h3">GET STARTED FOR <span style="text-decoration:underline">FREE</span> TODAY!</h3>
                    <h4 class="steps-h4">Follow three easy steps:</h5>
                </div>
            </div><!--row-->
            <div class="row">
                <div class="col-md-4 col-sm-12 margin-btm-40">
                    <div class="portfolio-sec">
                        <div class="portfolio-thumnail">
                            <a href="portfolio-single.html">
                                <img src="assets/step1.jpeg" class="img-responsive" alt="">
                            </a>
                        </div>
                        <div class="portfolio-desc text-center">
                            <h4 class="portfolio-post-title">1) SIGN UP AND <br />CREATE YOUR CLASSES</h4>
                            <h4><a href="https://docs.google.com/document/u/1/d/1rX1Gf9_z5MXAPWNqpbD8_87JhxM_SDxCVZ6p7UYkdzE/pub" target="_blank" class="btn theme-btn-default btn-lg">More detail</a></h4>
                        </div>
                    </div>
                </div><!--portfolio item -->
                <div class="col-md-4 col-sm-12 margin-btm-40">
                    <div class="portfolio-sec">
                        <div class="portfolio-thumnail">
                            <a href="portfolio-single.html">
                                <img src="assets/step2.jpeg" class="img-responsive" alt="">
                            </a>
                        </div>
                        <div class="portfolio-desc text-center">
                            <h4 class="portfolio-post-title">2) CREATE AND ASSIGN <br />LEARNING ACTIVITIES</h4>
                            <h4><a href="https://docs.google.com/document/u/1/d/1rX1Gf9_z5MXAPWNqpbD8_87JhxM_SDxCVZ6p7UYkdzE/pub" target="_blank" class="btn theme-btn-default btn-lg">More detail</a></h4>
                        </div>
                    </div>
                </div><!--portfolio item -->
                <div class="col-md-4 col-sm-12 margin-btm-40">
                    <div class="portfolio-sec">
                        <div class="portfolio-thumnail">
                            <a href="portfolio-single.html">
                                <img src="assets/step3.jpeg" class="img-responsive" alt="">
                            </a>
                        </div>
                        <div class="portfolio-desc text-center">
                            <h4 class="portfolio-post-title">3) GET YOUR STUDENTS ON <br />AND TRACKING THEIR SCORES</h4>
                            <h4><a href="https://docs.google.com/document/u/1/d/1rX1Gf9_z5MXAPWNqpbD8_87JhxM_SDxCVZ6p7UYkdzE/pub" target="_blank" class="btn theme-btn-default btn-lg">More detail</a></h4>
                        </div>
                    </div>
                </div><!--portfolio item -->
            </div><!--row portfolio item-->
        </div><!--recent work container end-->

</section>

<!--scripts-->
<script src="assets/bizwrap/modernizr.custom.97074.js" type="text/javascript"></script>
<script src="assets/bizwrap/jquery.easing.1.3.min.js" type="text/javascript"></script>
<script src="assets/bizwrap/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>
<script src="assets/bizwrap/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
<script src="assets/bizwrap/jquery.placeholder.min.js" type="text/javascript"></script>
<script src="assets/bizwrap/jquery.sticky.js" type="text/javascript"></script>
<script src="assets/bizwrap/jquery.flexslider-min.js" type="text/javascript"></script>
<script src="assets/bizwrap/jquery.mixitup.min.js" type="text/javascript"></script>
<script src="assets/bizwrap/parallax.min.js" type="text/javascript"></script>

<script src="assets/bizwrap/wow.min.js" type="text/javascript"></script>
<script src="assets/bizwrap/app.js" type="text/javascript"></script>
<script src="assets/bizwrap/mailchimp-custom.js" type="text/javascript"></script>

