<div id="alert_region" class="col-sm-8 col-sm-offset-2"></div>

<header class="header-main">
    <div class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="" href="/"><img src="assets/logo.jpg" alt="SOWN TO GROW" style="height:50px;"></a>
            </div>
            <div class="navbar-collapse collapse">

                <ul class="nav navbar-nav navbar-right">
                    <li class="active dropdown">
                        <a href="#login" class="dropdown-toggle js-activated js-login" data-toggle="dropdown" ui-login-button>Login</a>                         
                    </li>
                    <li class="active dropdown navbar-collapse__sm-only-li">
                        <a href="/#sign_up_teacher" class="dropdown-toggle js-activated" data-toggle="dropdown" ui-teacher-sign-up-button>Sign Up (Teacher)</a>                         
                    </li>
                    <li class="active dropdown navbar-collapse__sm-only-li">
                        <a href="/#sign_up_student" class="dropdown-toggle js-activated" data-toggle="dropdown" ui-student-sign-up-button>Sign Up (Student)</a>                         
                    </li>
                    <li class="social-nav">
                        <a href="https://www.facebook.com/Sown-To-Grow-1071075539569635/" class="ui-social" name="fb" target="_blank" ui-fb-link>
                            <i class="ion-social-facebook"></i>
                        </a>
                    </li>
                    <li class="social-nav">
                        <a href="https://twitter.com/sowntogrow" target="_blank" class="ui-social" name="twitter" ui-twitter-link>
                            <i class="ion-social-twitter"></i>
                        </a>
                    </li>
                    <li class="social-nav">
                        <a href="http://sowntogrow.wordpress.com" class="ui-social" name="wordpress" target="_blank" ui-wordpress-link>
                            <i class="ion-social-wordpress"></i>
                        </a>
                    </li>
                    
                </ul>

            </div><!--/.nav-collapse -->
        </div><!--/.container-->
    </div><!--navigation end-->

</header><!--header main end-->

<div id="main_region">
</div>

<div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 margin-btm-20">
                <div class="footer-col">
                    <h3>contact us</h3>
                    <p><i class="ion-home"></i> 515 Crofton Avenue Oakland, CA 94610 </p>
                    <p><i class="ion-iphone"></i> (650) 485-3354</p>
                    <p><i class="ion-email"></i> founders@sowntogrow.com</p>
                </div>
            </div><!--col-4 end-->
            <div class="col-md-4 margin-btm-20">
                <div class="footer-col">
                    <h3>more info</h3>
                    <p><a href="/terms_of_service" class="white-link">Terms Of Service</a></p>
                    <p><a href="/privacy" class="white-link">Privacy Policy</a></p>
                    <p><a href="" class="white-link">About Us</a></p>
                </div>
            </div><!--col-4 end-->

        </div><!--footer main row end-->  
    </div><!--container-->
</div><!--footer main end-->