<!DOCTYPE html>
<html>
<head>
  <title>SOwn</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,700,900" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Playfair+Display:400italic" rel="stylesheet" type="text/css">

  <meta name="google-signin-client_id" content="916932200710-kk91r5rbn820llsernmbjfgk9r5s67lq.apps.googleusercontent.com">

  <!--<script src="https://apis.google.com/js/client:platform.js" async defer></script>-->
  <script src="https://apis.google.com/js/client:platform.js?onload=start" async defer>
  </script>


</head>
<body>

<%= yield %>
	
</body>
</html>
