

<script src="https://apis.google.com/js/client:platform.js" async defer></script><!DOCTYPE html>
<html>
<head>
  <title>SOwn</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <meta name="google-signin-client_id" content="916932200710-kk91r5rbn820llsernmbjfgk9r5s67lq.apps.googleusercontent.com">

  <script src="https://apis.google.com/js/client:platform.js" async defer></script>

</head>
<body>

<%= yield %>

</body>
</html>
